@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tambahan style untuk ikon hati favorit */
.favorite-icon {
  transition: color 0.2s;
}
.favorite-icon:hover {
  color: darkred;
}